/* Write your code here. */
.calculator-app-container {
  background-image: linear-gradient(to right, #1d976c 0%, #93f9b9 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

@media screen and (min-width: 992px) {
  .calculator-details-container {
    flex-direction: row;
  }
}

.calculator-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  order: 1;
}

@media screen and (min-width: 992px) {
  .calculator-item-container {
    align-items: flex-start;
    order: 0;
  }
}

.heading {
  color: #ffffff;
  font-size: 32px;
  font-family: 'Roboto';
}

@media screen and (min-width: 992px) {
  .heading {
    font-size: 48px;
    text-align: start;
  }
}

.input-phrase-container {
  display: flex;
  flex-direction: column;
}

.phrase {
  color: #ffffff;
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: bold;
}

.input-item {
  color: #ffffff;
  background-color: transparent;
  margin-top: 12px;
  margin-bottom: 12px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 13px;
  padding-bottom: 13px;
  border: 2px solid #e4e7eb;
  outline: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Roboto';
}

@media screen and (min-width: 768px) {
  .input-item {
    width: 380px;
  }
}

.no-of-letter {
  background-color: #ffffff;
  color: #219a6f;
  margin-top: 14px;
  padding-left: 27px;
  padding-right: 27px;
  align-self: center;
  font-weight: bold;
  font-size: 26px;
  font-family: 'Roboto';
  padding: 19px;
  border-radius: 10px;
}

@media screen and (min-width: 992px) {
  .no-of-letter {
    align-self: flex-start;
    padding-left: 25px;
    padding-right: 25px;
  }
}

.calculator-image {
  width: 90%;
  order: 0;
}

@media screen and (min-width: 768px) {
  .calculator-image {
    width: 580px;
    order: 1;
  }
}

@media screen and (min-width: 992px) {
  .calculator-image {
    width: 750px;
  }
}
